{% load static %}

<!-- <footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>Shopkart</h6>
                    <p>
                        Shopkart.comis a one stop destination for your family's fashion needs.
                         We give you the opportunity to give your wardrobe a makeover with the latest collections from our top brand
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home"></i>Prakash</p>
                    <p><i class="fa fa-home"></i>info@example.com</p>
                    <p><i class="fa fa-home"></i>+91 9994770473</p>
                </div>

            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy;  2021 Copyright <a class="text-reset fw-bold" href="https://prakash.in/">prakash.in</a>
    </div>
</footer> -->


<div class="container-fluid bg-primary position-relative p-0">
   

    <div class="container ">
        <!-- mobile view start -->
        <div class="bg-ab d-lg-none">
            <div class="position-absolute top-0 translate-middle-x">
            </div>
            <div class="row pt-4">
                <div class="col-6 col-lg-2 offset-lg-1 mb-3 ps-4" style="z-index: 1;">
                    <h5 class=" fw-bold text-light mb-3">Heading 1</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                     
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3 " style="z-index: 1;">
                    <h5 class=" fw-bold text-light mb-3">Heading 1</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a> </li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a> </li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a> </li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a> </li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a> </li>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a> </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3 ps-4" style="z-index: 1;">
                    <h5 class=" fw-bold text-light mb-3">Heading 1</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                        <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                        </li>
                      
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3" style="z-index: 1;">
                    <h5 class=" fw-bold text-light mb-3">Heading 1</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 small"><a href="/" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="/" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="/" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="/" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="/" class="text-decoration-none text-light">Home</a></li>
                        <li class="mb-2 small"><a href="/" class="text-decoration-none text-light">Home</a></li>
                    
                    </ul> 
                </div>
                <div class="col-lg-3 mb-3 p-0">
                    <p class="small text-center text-light">Experience HEARZAP on Mobile</p>
                    <div class="d-flex justify-content-evenly mb-4">
                        <a href="" target="_blank"><img src="{% static 'images/hz_appstore.svg' %} " class="me-3" alt="appstore Logo" ></a>
                        <a href="" target="_blank"><img src="{% static 'images/hz_playstore.svg' %} " alt="playstore Logo" ></a>
                    </div>
                    <p class="small text-center text-light">Follow us on Social Media</p>
                    <div class="d-flex justify-content-evenly">
                        <a target="_blank" href=""><img src="{% static 'images/hz_facebook.svg' %} " class="me-3" alt="facebook Logo" ></a>
                        <a target="_blank" href=""><img src="{% static 'images/hz_whatsapps.svg' %} " class="me-3" alt="whatsapp Logo" ></a>
                        <a target="_blank" href=""><img src="{% static 'images/hz_instagram.svg' %} " class="me-3" alt="instagram Logo" ></a>
                        <a target="_blank" href=""><img src="{% static 'images/hz_youtube.svg' %} " class="me-3" alt="youtube Logo" ></a>
                        <a target="_blank" href=""><img src="{% static 'images/hz_twitter.svg' %} " class="me-3" alt="twitter Logo" ></a>
                    </div>
                 
                </div>
                <p class="text-white text-center m-0 xsmall py-3">Copyright © 2024. HEARZAP All rights reserved</p>

            </div>
        </div>
        <!-- mobile view end -->
        <div class="pb-0 bg-ab d-none d-lg-block">
            <div class="py-5 pb-3 bg-primary position-relative">
                <div class="position-absolute top-0 end-0">
                    <img src="{% static 'images/hz_downleaf_footer.svg' %} " class="img-fluid" alt="Footer Bg">
                </div>
                <div class="row">
                    <div class="col-6 col-lg-3 mb-3">
                        <h5 class=" fw-bold text-light mb-3">Heading 1</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                         
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mb-3" style="z-index: 1;">
                        <h5 class=" fw-bold text-light mb-3">Heading 1</h5>
                        <ul class="list-unstyled">
                            
                            
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                                <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                            </li>
                            
                            
                            
                          
                            
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <h5 class=" fw-bold text-light mb-3">Heading 1</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                                <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a>
                            </li>
                          
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mb-3" style="z-index: 1;">
                        <h5 class=" fw-bold text-light mb-3">Heading 1</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                            <li class="mb-2 small"><a href="" class="text-decoration-none text-light">Home</a></li>
                          
                        </ul>   
                    </div>
                    <div class="col-lg-4 offset-4 mb-3" style="z-index: 1;">
                        <p class="small text-center text-light">Experience Shop name on Mobile</p>
                        <div class="d-flex justify-content-center mb-4">
                            <a href="" target="_blank"><img src="{% static 'images/hz_appstore.svg' %} " class="me-3" alt="appstore Logo" ></a>
                            <a href="" target="_blank"><img src="{% static 'images/hz_playstore.svg' %} " alt="playstore Logo" ></a>
                        </div>
                        <p class="small text-center text-light">Follow us on Social Media</p>
                        <div class="d-flex justify-content-center">
                            <a target="_blank" href=""><img src="{% static 'images/hz_facebook.svg' %} " class="me-3" alt="facebook Logo" ></a>
                            <a target="_blank" href=""><img src="{% static 'images/hz_whatsapps.svg' %} " class="me-3" alt="whatsapp Logo" ></a>
                            <a target="_blank" href=""><img src="{% static 'images/hz_instagram.svg' %} " class="me-3" alt="instagram Logo" ></a>
                            <a target="_blank" href=""><img src="{% static 'images/hz_youtube.svg' %} " class="me-3" alt="youtube Logo" ></a>
                            <a target="_blank" href=""><img src="{% static 'images/hz_twitter.svg' %} " class="me-3" alt="twitter Logo" ></a>
                        </div>
                        <p class="text-white text-center m-0 xsmall pt-5">Copyright © 2024. Shop name All rights reserved</p>
                    </div>
                </div>
            </div>
            <div class="position-absolute bottom-0">
                <img src="{% static 'images/hz_bottom_leaf_home.svg' %} " class="img-fluid" alt="Footer Bg" >
            </div>
        </div>
    </div>
</div>