{% extends 'shop/layouts/main.html' %}
{% block title %}
index | page
{% endblock title %}
{% load static %}

{% block content %}
{% include 'shop/inc/navbar.html' %}

<section class="bg-light " >
        <div class="">
            <div class="container">
                <div class="">
                    <div class="row mt-4">
                        <div class="col-lg-5 pe-lg-2">
                            <div class="mb-3">
                                <div id="carouselExampleIndicators" class="carousel slide">
                                  <div class="carousel-indicators">
                                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 1" class=""></button>
                                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
                                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5" class="active" aria-current="true"></button>
                                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6" class=""></button>
                                  </div>
                                  <div class="carousel-inner">
                                    <div class="carousel-item cursor-pointer pop" id="pop_1">
                                      <img src="{{products.product_image.url}}" class="w-100" alt="carousel image" style="max-height: 455px; min-height: 455px; object-fit: cover;" >
                                    </div>
                                    <div class="carousel-item cursor-pointer pop" id="pop_2">
                                      <img src="{{products.product_image4.url}}" class="w-100" alt="carousel image" style="max-height: 455px; min-height: 455px; object-fit: cover;" >
                                    </div>
                                    <div class="carousel-item cursor-pointer pop" id="pop_3">
                                      <img src="{{products.product_image5.url}}" class="w-100" alt="carousel image" style="max-height: 455px; min-height: 455px; object-fit: cover;" >
                                    </div>
                                    <div class="carousel-item cursor-pointer pop" id="pop_4">
                                      <img src="{{products.product_image1.url}}" class="w-100" alt="carousel image" style="max-height: 455px; min-height: 455px; object-fit: cover;" >
                                    </div>
                                    <div class="carousel-item cursor-pointer pop active" id="pop_5">
                                      <img src="{{products.product_image2.url}}" class="w-100" alt="carousel image" style="max-height: 455px; min-height: 455px; object-fit: cover;" >
                                    </div>
                                    <div class="carousel-item cursor-pointer pop" id="pop_6">
                                      <img src="{{products.product_image3.url}}" class="w-100" alt="carousel image" style="max-height: 455px; min-height: 455px; object-fit: cover;" >
                                    </div>
                                  </div>
                                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                  </button>
                                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                  </button>
                                </div>
                          </div>
                        </div>
                        <div class="col-lg-7 ps-lg-2 ">
                                <div class="card border-0 shadow-sm  rounded-3" style="min-height: 455px;">
                                    <div class="card-header bg-white p-4">
                                        <h1 class="fw-bold text-primary m-0 fs-4 pt-1">{{products | upper}}</h1>
                                        <p class="text-info m-0 pt-1 fw-bold"> {{products.vendor}}</p>
                                        <hr class="border">
                                        <p class="m-0 text-warning fw-bold fs-4">Rs.{{products.selling_price}} <span class="fs-6 fw-normal small text-muted mx-1 text-decoration-line-through">Rs.{{products.original_price}}</span> </p>
                                        <p class="small text-muted m-0">(inclusive of all taxes)</p>
                                        <!-- <div class="mt-3">
                                            <i class="bi bi-star-fill rating_star mx-1"></i>
                                            <i class="bi bi-star-fill rating_star mx-1"></i>
                                            <i class="bi bi-star-fill rating_star mx-1"></i>
                                        </div> -->
                                    </div>
                                    <div class="card-body px-4">
                                        <div class="mt-1">
                                            <p class="my-1 text-muted small col-10"> {{products.address}}</p>
                                           <p class="">  <a href="tel:+919659455455" class="text-decoration-none text-muted small ">{{products.phone_no}}  |  {{products.e_mail}}</a> </p>
                                           <p class="m-0">
                                            <span class="text-success xsmall m-0  fw-bold text-capitalize">Open</span>
                                            <span class="text-muted m-0 xsmall  "><i class="bi bi-dot"></i>Closes By 7 Pm</span>
                                           </p>
                                     </div>
                                    </div>
                                    <div class="card-footer bg-white px-4 ">
                                        <div class="d-lg-flex justify-content-between">
                                            <div class="d-flex text-center justify-content-center">
                                                <div class="">
                                                    <a href="tel:{{products.phoneno}}">
                                                        <img src="{% static 'images/hz_call_icon.svg' %} " class="mx-3" alt="call icon" >
                                                    </a>
                                                    <p class="text-info text-center m-1 small text-capitalize">Call</p>     
                                                </div>
                                                <div style="cursor: pointer;">
                                                    <img src="{% static 'images/hz_halffilledstar_icon.svg' %} "  class="mx-3" alt="direction icon" >
                                                    <p class="text-info text-center m-1 small text-capitalize">Directions</p>
                                                </div>
                                                <div style="cursor: pointer;">
                                                    <img src="{% static 'images/hz_halffilledstar_icon.svg' %} " data-bs-toggle="modal" data-bs-target="#exampleModal" class="mx-3" alt="star image" >
                                                    <p class="text-info text-center m-1 small text-capitalize">Review</p>
                                                </div>
                                                <div style="cursor: pointer;">
                                                    <img src="{% static 'images/hz_halffilledstar_icon.svg' %} " data-bs-toggle="modal" data-bs-target="#exampleModal" class="mx-3" alt="star image" >
                                                    <p class="text-info text-center m-1 small text-capitalize">Review</p>
                                                </div>
                                                
                                            </div>
                                            <div class="my-auto text-center pt-2 pt-lg-0">
                                                <a href="tel:{{products.phoneno}}" type="button" class="btn btn-info btn-lg text-white w-100">BOOK APPOINTMENT</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card border-0 shadow-sm rounded-3 h-100">
                            <div class="card-header bg-white">
                                <p class="text-primary fs-5 fw-bold mb-1">About Us</p>
                            </div>
                            <div class="card-body pe-0 ps-2">
                                <p class="text-muted m-0 small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum dolor at! Inventore, molestias voluptate facere corporis dicta excepturi cupiditate error optio. Saepe maiores vel minus velit iusto dignissimos blanditiis.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row row-cols-1 row-cols-lg-3 mt-4">
                        <div class="col">
                            <div class="card border-0 shadow-sm rounded-3 h-100">
                                <div class="card-header bg-white">
                                    <p class="text-primary fs-5 fw-bold mb-1">Working Hours</p>
                                </div>
                                <div class="card-body pe-0 ps-2">
                                    <table class="border-0 text-muted small w-100">
                                        <tbody>
                                        <tr>
                                            <td class="p-1 small"><span class="fw-bold">Monday</span></td>
                                            <td class=" p-1 small">10:00 am - 01:00 pm | 01:00 pm - 07:00 pm</td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 small"><span class="fw-bold">Tuesday</span></td>
                                            <td class=" p-1 small">10:00 am - 01:00 pm | 01:00 pm - 07:00 pm</td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 small"><span class="fw-bold">Wednesday</span></td>
                                            <td class=" p-1 small">10:00 am - 01:00 pm | 01:00 pm - 07:00 pm</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="p-1 small"><span class="fw-bold">Thursday</span></td>
                                            <td class=" p-1 small">10:00 am - 01:00 pm | 01:00 pm - 07:00 pm</td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 small"><span class="fw-bold">Friday</span></td>
                                            <td class=" p-1 small">10:00 am - 01:00 pm | 01:00 pm - 07:00 pm</td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 small"><span class="fw-bold">Saturday</span></td>
                                            <td class=" p-1 small">10:00 am - 01:00 pm | 01:00 pm - 07:00 pm</td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 small"><span class="fw-bold">Sunday</span></td>
                                            <td class=" p-1 small">Closed</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border-0 shadow-sm rounded-3 h-100">
                                <div class="card-header bg-white">
                                    <p class="text-primary fs-5 fw-bold mb-1">Services</p>
                                 </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Men's Haircut</li>
                                    </ul>
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Women's Haircut</li>
                                    </ul>
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Children's Haircut</li>
                                    </ul>
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Speciality Cuts</li>
                                    </ul>
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Styling</li>
                                    </ul>
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Layered Cuts</li>
                                    </ul>
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Beard Trimming</li>
                                    </ul>
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Hair Treatments </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                        <div class="col">
                            <div class="card border-0 shadow-sm rounded-3 h-100">
                              <div class="card-header bg-white">
                                  <p class="text-primary fs-5 fw-bold mb-1">Other Features</p>
                                </div>
                                <div class="card-body">
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Colouring Service</li>
                                </ul>
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Hair Extension</li>
                                </ul>
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Scalp Treatments</li>
                                </ul>
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item px-0 text-muted py-1 small"><img src="{% static 'images/hz_roundedgreentick_icon.svg' %}" class="mx-2" alt="rounded tick image" >Facial Hair Grooming</li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                    <div class="row  mt-lg-4 mt-3">
                        <div class="col-lg-8 pe-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.664207201865!2d76.83771607451976!3d10.988698555243497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85f735e5abd83%3A0x3e659d1132693dfd!2sAddicit%20Beauty%20salon%20for%20women%20%26%20kits!5e0!3m2!1sen!2sin!4v1712496788243!5m2!1sen!2sin" width="725" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="col-lg-4  ps-lg-0">
                            <div class="card alert-info shadow-sm border-0 rounded-3 position-relative">
                                <div class="card-body p-4">
                                    <h2 class="text-primary fs-5 fw-bold  text-center text-capitalize">Book your store visit</h2>
                                    <div class="py-3">
                                        <p class="mb-1 fw-bold text-info ">{{products.vendor}}</p>
                                        <p class="m-0 small text-muted ">
                                           {{products.address}}
                                        </p>
                                        <p class="pt-3 m-0">
                                            <a href="tel:+919659455455" class="text-decoration-none text-muted small  ">{{products.phone_no}}</a>
                                           </p>
                                           <p class="m-0">
                                            <a href="mailto:vashi@ss.com" class="text-decoration-none text-muted small  ">{{products.e_mail}}</a>
                                           </p>
                                    </div>
                                    <img src="{% static 'images/hz_rightleaf_icon.svg' %} " class="position-absolute top-0 end-0" alt="right curve" >
                                    <img src="{% static 'images/hz_leftleaf_icon.svg' %} " class="position-absolute top-0 end-0" alt="left curve" >
                                    <div class="d-grid gap-2">
                                        <a href="tel:{{products.phoneno}}" type="button" class="btn btn-info text-white fw-bold mt-3">BOOK APPOINTMENT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="mt-4 d-none d-lg-block">
                    <img src="{% static 'images/Home services at your doorstep.png' %} " class="img-fluid w-100" alt="shopping banner image" >
                </div>
                <section class="  mt-3 d-lg-none">
                    <div class="">
                        <img src="{% static 'images/Home services at your doorstep.png' %} " class="img-fluid w-100" alt="Smiley" >
                    </div>
                </section>
                
                <div class="my-3 pb-5 d-lg-none">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner alert-info rounded-corner">
                            <div class="position-relative">
                                <div class="py-4 px-2">
                                    <div>
                                        <p class="mb-1 text-primary fw-bold">Happy Customers</p>
                                        <p class="m-0 text-primary small">1 Million+ satisfied customers</p>
                                    </div>
                                    <div class="carousel-item  active ">
                                        <div>
                                            <div class="mt-5 mb-3">
                                                <i class="bi bi-star-fill rating_star"></i>
                                                <i class="bi bi-star-fill rating_star"></i>
                                                <i class="bi bi-star-fill rating_star"></i>
                                                <i class="bi bi-star-fill rating_star"></i>
                                                <i class="bi bi-star-fill rating_star"></i>
                                            </div>
                                            <p class="text-primary m-0 small">“ We had a wonderful experience with the store when I went to collect the information for the hearing care devices “</p>
                                            <p class="text-primary py-2 small fw-bold">Prithvi .V.P</p>
                                        </div>
                                    </div>
                                    
                                    <img src="{% static 'images/hz_chat_home.svg' %} " class="position-absolute top-0 end-0" alt="Smiley">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 pb-5 d-none d-lg-block">
                    <div class="carousel-inner alert-info rounded-corner">
                        <div class="position-relative">
                            <div>
                                <div class="p-4">
                                    <h2 class="mb-1 text-primary fs-5 fw-bold">Happy Customers</h2>
                                    <p class="m-0 text-primary small">1 Million+ satisfied customers </p>
                                </div>
                                <div>
                                    <div class="carousel-item d-none d-lg-block ">
                                        <div class="row">
                                            <div class=" col-lg-3 p-4 py-0">
                                                <div class="card border-0 alert-info ">
                                                    <div class="card-body">
                                                        <div class=" mb-3">
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <!-- <i class="bi bi-star-fill text-muted"></i> -->
                                                        </div>
                                                        <p class="text-primary m-0 small">“ Excellent hospitality!! Hygiene-friendly salon!! and what not... Enjoyed my time there in an efficient and productive way! Thanks to Addict beauty salon...😍😍😍 “</p>
                                                        <p class="text-primary py-2 small fw-bold">Prithvi .V.P</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-lg-3 p-4 py-0">
                                                <div class="card border-0 alert-info ">
                                                    <div class="card-body">
                                                        <div class=" mb-3">
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <!-- <i class="bi bi-star-fill text-muted"></i> -->
                                                        </div>
                                                        <p class="text-primary m-0 small">“ Positive: Cleanliness, Professionalism, Quality, Value
                                                            Good service, Nice bridal make over for my relation marriage “</p>
                                                        <p class="text-primary py-2 small fw-bold">Ravi chandran</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-lg-3 p-4 py-0">
                                                <div class="card border-0 alert-info ">
                                                    <div class="card-body">
                                                        <div class=" mb-3">
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <!-- <i class="bi bi-star-fill text-muted"></i> -->
                                                        </div>
                                                        <p class="text-primary m-0 small">“ It was beyond satisfaction ✌️ “</p>
                                                        <p class="text-primary py-2 small fw-bold">Kavitha Kuppuraj</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-lg-3 p-4 py-0">
                                                <div class="card border-0 alert-info ">
                                                    <div class="card-body">
                                                        <div class=" mb-3">
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <i class="bi bi-star-fill rating_star"></i>
                                                            <!-- <i class="bi bi-star-fill text-muted"></i> -->
                                                        </div>
                                                        <p class="text-primary m-0 small">“ I had the most incredible experience at Luxe Locks! From the moment I stepped in, I felt like royalty. “</p>
                                                        <p class="text-primary py-2 small fw-bold">Rajesh Srinivasan</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                   <img src="{% static 'images/hz_chat_home.svg' %} " class="position-absolute top-0 end-0" alt=" forum background image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
                
          
                
            </div>










        
     
</section>
<script>
document.addEventListener("DOMContentLoaded",function(event){
    const btnPlus = document.getElementById("btnPlus");
    const btnMinus = document.getElementById("btnMinus");
    const txtQty = document.getElementById("txtQty");
    const pid = document.getElementById("pid");
    const tkn = document.querySelector('[name="csrfmiddlewaretoken"]').value;
    const btnCart = document.getElementById("btnCart");
    const btnFav= document.getElementById("btnFav");

    btnPlus.addEventListener("click", function(){
        let qty=parseInt(txtQty.value,10);
        qty=isNaN(qty)?0:qty;
        if(qty<10){
            qty++;
            txtQty.value=qty;

        }
    });

    btnMinus.addEventListener("click", function(){
        let qty=parseInt(txtQty.value,10);
        qty=isNaN(qty)?0:qty;
        if(qty>1){
            qty--;
            txtQty.value=qty;

        }
    });

    btnCart.addEventListener("click", function(){


        let qty=parseInt(txtQty.value,10);
        qty=isNaN(qty)?0:qty;

        if(qty>0){
           let postObj = {
                'product_qty':qty,
                'pid': pid.value,
                
           }
            //`console.log(postObj);
           fetch("/addtocart",{
            method:'POST',
            credentials: 'same-origin',
            headers:{
                'Accept':'application/json',
                'X-requested-with':'XMLHttpRequest',
                'X-CSRFToken':'{{ csrf_token }}'    ,
            },
            body:JSON.stringify(postObj)
           }).then(response => {
            return response.json();
           }).then(data => {
            //console.log(data);
            alert(data['status']);    
           });

        }else{
            alert("Please Enter The Qunatity");
        }
       
});
    
    btnFav.addEventListener("click", function(){
        
        let postObj = {
                'pid': pid.value
                
        }
            //`console.log(postObj);
        fetch("/fav",{
            method:'POST',
            credentials: 'same-origin',
            headers:{
                'Accept':'application/json',
                'X-requested-with':'XMLHttpRequest',
                'X-CSRFToken':'{{ csrf_token }}',
            },
            body:JSON.stringify(postObj)
        }).then(response => {
            return response.json();
        }).then(data => {
            //console.log(data);
            alert(data['status']);    
        });

       
            

    });


});
</script>

{% endblock %}
   

