{% extends 'shop/layouts/main.html' %}
{% block title %}
index | page
{% endblock title %}

{% block content %}
{% include 'shop/inc/navbar.html' %}

<section class="bg-light">
    <div class=" text-center py-lg-5 py-4 alert-info">
        <h1 class="text-primary text-center fw-bold  m-0 ">Grooming at your doorstep</h1>
        <p class="text-primary small text-center mt-2">What are you looking for? </p>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <h3 class="m-0 text-primary fw-bold">{{category_name}} Services</h3>
                <p class="text-muted small">Daily we can update our lates offers !</p>
    
            </div>
            {% for item in data %}
    

            <div class="col-lg-3 mb-3">
                <div class="card h-100  rounded border-0 shadow-sm ">
                    <div class="">
                      <a class="stretched-link" href="{% url 'service_details' item.catagory.name item.name %}">
                        <img class="img-fluid w-100" src="{{item.product_image.url}}"> </a>
                    </div>
                    <div class="card-body alert-info">
                      <p class="m-0 text-info fw-bold ">{{ item.name }}</p>
                      <p class="text-primary m-0 fw-bold  small">{{ item.description |  truncatechars:30 }}</p>
                      <p class="text-dark m-0 fw-bold">Rs.{{ item.selling_price | stringformat:'d'}} <span class="text-danger text-decoration-line-through  small fw-normal">Rs.{{ item.original_price | stringformat:'d'}}</span></p>
                    </div>
                  </div>
            </div>

            {% endfor%}

            
        </div>
    </div>
</section>

{% endblock %}
   

