{% extends 'shop/layouts/main.html' %}
{% block title %}
idex | page
{% endblock title %}

{% block content %}
{% include 'shop/inc/navbar.html' %}
{% include 'shop/inc/slider.html' %}
<div class="container" >
    <div class="row">
        <div class="col-lg-12 mt-3">
            <h3 class="m-0 text-primary fw-bold">Latest Offers</h3>
            <p class="text-muted small">Daily we can update our lates offers !</p>
                <hr style="border-color:#b8bfc2">

        </div>
        {% for item in products %}
        <div class="col-lg-3 mb-3">
            <div class="card h-100  rounded border-0 shadow-sm ">
                <div class="">
                  <a class="stretched-link" href="{% url 'product_details' item.catagory.name item.name %}">
                    <img class="img-fluid w-100" src="{{item.product_image.url}}"> </a>
                </div>
                <div class="card-body alert-info">
                  <p class="m-0 text-info fw-bold ">{{ item.name }}</p>
                  <p class="text-primary m-0 fw-bold  small">{{ item.description }}</p>
                  <p class="text-dark m-0 fw-bold">Rs.{{ item.selling_price | stringformat:'d'}} <span class="text-danger text-decoration-line-through  small fw-normal">Rs.{{ item.original_price | stringformat:'d'}}</span></p>
                </div>
              </div>
        </div>
        <!-- <div class="col-md-4 col-lg-3">
            <div class="card my-3">
                <img src="{{item.product_image.url}}" class="card-image-top" alt="Categories">
                <a href="{% url 'product_details' item.catagory.name item.name %}">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ item.name }}</h5>
                    <p class="card-text">
                      <span class="float-start old_price"><s>Rs.{{ item.original_price | stringformat:'d'}}</s></span>
                      <span class="float-end new_price">Rs.{{ item.selling_price | stringformat:'d'}}</span>
                    </p>
                </div>
                </a>
            </div>
        </div> -->
        {% endfor%}
    </div>
</div>
{% endblock %}
   
   